# ビルド成果物
build/
*.bin
*.elf
*.hex
*.uf2

# Zephyr/ZMK関連の依存
zephyr/
modules/
west/
*.pyc
__pycache__/

# ログやキャッシュ
*.log
*.swp
*.swo
*.zip

# VS Code 設定など
.vscode/
*.code-workspace

# サブモジュール（zmk-mouse-keyなど）も無視
zmk-mouse-key/.west/
